*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Color variables */
:root {
  --logo-before: #4d5ae5;
  --logo-after: #2e2f42;
  --logo-footer-after: #ffffff;
  --header-links-focus-hover-active: #4d5ae5;
  --header-background: #ffffff;
  --hero-title: #ffffff;
  --main-background: #ffffff;
  --order-button-background-color: #4d5ae5;
  --button-hover-focus: #404bbf;
  --footer-text: #ffffff;
  --filter-button-background: #e7e9fc;
  --filter-button-text: #4d5ae5;
  --filter-button-text-hover: #ffffff;
  --footer-background: #2e2f42;
  --Valid-fields-Success-messages-color: #31d0aa;
  --Body-text-color: #434455;
  --Helper-text-Deemphasized-text-color: #8e8f99;
  --team-cards-background: #f4f4fd;
  --Modal-background-color: #fcfcfc;
  --hero-image-background: rgba(46, 47, 66, 0.7);
  --icons-color-hover: #404bbf;
  --we-doing-background: #f4f4fd;
  --portofolio-cards-overlay: #4d5ae5;
  --modal-background-btn-color: #e7e9fc;
  --modal-background-coor: rgba(46, 47, 66, 0.4);
  --button-color-filters: #404bbf;
  --accent-color-filters: #e7e9fc;
  --footer-hover-icons: #31d0aa;
  --transitions: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Header */
.logo::before {
  content: "web";
  color: var(--logo-before);
}
.logo::after {
  content: "studio";
  color: var(--logo-after);
}
.logo {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}
.logo-link {
  display: flex;
  flex-wrap: wrap;
  font-family: "raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3125em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.nav::after,
.nav:focus,
.nav:hover {
  text-underline-offset: 20px;
  margin-bottom: 0;
}
.header-links a:hover,
.header-links a:focus {
  text-decoration: underline;
  color: var(--header-links-focus-hover-active);
  transition: var(--transitions);
}
.header-links a:active {
  color: var(--header-links-focus-hover-active);
}
.header-links a {
  text-decoration: none;
  color: var(--Body-text-color);
}
.header {
  background-color: var(--header-background);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-style: none none solid;
  border-width: thin;
  border-color: var(--filter-button-background);
}
.contact-links {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.contact-space {
  margin-inline-start: 250px;
}
/* Body */
.body {
  font-family: "Roboto", sans-serif;
  color: var(--Body-text-color);
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.container ul {
  padding-left: 0%;
}
ul {
  list-style-type: none;
}
/* Hero section */
.hero-section {
  display: flex;
  background-image: url("../images/people-office.jpg");
  background-size: cover;
  justify-content: center;
  min-height: 37.5em;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.hero-section::before {
  content: "";
  background-color: var(--hero-image-background);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}
.hero-title {
  color: var(--hero-title);
  letter-spacing: 0.02em;
  font-size: 56px;
  z-index: 1;
}
.order-button {
  background-color: var(--order-button-background-color);
  color: var(--hero-title);
  display: flex;
  border: 0cap;
  border-radius: 0.6lvh;
  width: 169px;
  height: 56px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.order-button:hover,
.order-button:focus {
  cursor: pointer;
  position: relative;
  background-color: var(--button-hover-focus);
  transition: var(--transitions);
}
/* modal style*/
.is-hidden {
  visibility: hidden;
  transform: scale(1.1);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--modal-background-coor);
  transition: transform var(--transitions);
}

.modal-content {
  margin: 0 auto;
  padding: 24px;
  background-color: var(--header-background);
  width: 408px;
  height: 584px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  margin-top: 8px;
}

.close-btn {
  background-color: var(--modal-background-btn-color);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  outline: none;
  border: 1px solid #4b494a3b;
  transition: transform var(--transitions);
}
.close-btn:hover {
  background-color: var(--button-color-filters);
  color: white;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
  transform: scale(1.5);
}
/* Our goals */
.our-goals {
  display: flex;
  justify-content: center;
  gap: 24px;
  max-width: 1128px;
  margin: auto;
  margin-top: 120px;
  flex-wrap: wrap;
}
.goals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--we-doing-background);
  border-radius: 0.5cap;
}
.our-goals li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 264px;
  margin: auto;
}
/* We doing */
.we-doing,
.we-doing-list,
.we-doing-header {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.we-doing-header {
  margin-top: 120px;
  margin-bottom: 70px;
}
.we-doing-list {
  margin-bottom: 120px;
}
/* Our team */
.our-team-background {
  min-height: 45.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-cards-background);
}
.our-team-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 144opx;
}
.our-team {
  display: flex;
  padding-top: 72px;
  gap: 24px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: center;
}
.our-team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background);
  border-radius: 0.3cap;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.icon-list .icon svg {
  width: 12px;
  height: 12px;
}
.icon-list .icon {
  width: 40px;
  height: 40px;
  background-color: var(--order-button-background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.icon-list .icon:hover,
.icon-list .icon:focus {
  background-color: var(--icons-color-hover);
  transition: var(--transitions);
}
/* customer section */
.clients-container {
  display: flex;
  margin: auto;
  max-width: 1128px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
  fill: var(--Helper-text-Deemphasized-text-color);
}
svg.icon:hover,
svg.icon:active {
  fill: var(--button-hover-focus);
  cursor: pointer;
  border-color: var(--button-hover-focus);
  transition: var(--transitions);
}
.clients-logo-list {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 52px;
}
.clients-logo-list .icon {
  width: 168px;
  height: 88px;
  border: solid 1.5px;
  border-color: var(--Helper-text-Deemphasized-text-color);
  border-radius: 0.5cap;
}
/* footer content */
.logo-footer::after {
  content: "studio";
  color: var(--logo-footer-after);
}
.footer-content {
  min-height: 19.5em;
  background-color: var(--footer-background);
}
.footer {
  display: flex;
  color: var(--footer-text);
  gap: 120px;
  margin: auto;
  max-width: 1128px;
  flex-wrap: wrap;
}
.social-media,
.footer-first-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  flex-wrap: wrap;
}
.social-mediaheader {
  display: flex;
  margin: 0%;
  margin-bottom: 15px;
}
.footer-first-container {
  max-width: 264px;
}
.social-media {
  display: flex;
  max-width: 208px;
}
.social-content {
  display: flex;
}
.footer-icon-list {
  gap: 16px;
}
/* Portofolio page */
/* Filters buttons */
.Filters-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 0%;
  margin-top: 76px;
}
.button {
  background-color: var(--filter-button-background);
  color: var(--filter-button-text);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border: 0cap;
  border-radius: 0.6lvh;
  font-size: 16px;
}
.button:hover,
.button:focus {
  background-color: var(--button-hover-focus);
  color: var(--filter-button-text-hover);
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: var(--transitions);
}
/* Portofolio elements */
.portofolio-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.portofolio-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portofolio-cards {
  margin-top: 48px;
}
.box {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--portofolio-cards-overlay);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}
.box:hover .overlay {
  transform: translatey(0);
}
.overlay p {
  display: flex;
  color: #fff;
  margin: 0;
}
